.file-drop-zone {
   border: 2px dashed #ccc;
   padding: 1px;
   text-align: center;
   cursor: pointer;
   width: 250px;
 }

.table{
 border: #040404;
 width: fit-content;

}
.table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

 #nav{
   display: flex;

   justify-content: space-around;
 }
